services:

    webpack_manifest:
        class: Bluetel\WebpackManifestBundle\WebpackManifest
        arguments:
            - "%webpack_manifest.webpack_manifest_path%"

    webpack_manifest.controller:
        class: Bluetel\WebpackManifestBundle\Controller\WebpackManifestController
        arguments: ["@webpack_manifest"]

    webpack_manifest.twig_extension:
        class: Bluetel\WebpackManifestBundle\Twig\WebpackManifestExtension
        arguments: ["@webpack_manifest"]
        tags: [{ name: twig.extension }]
